*CMakeFiles*
*CMakeCache.txt
.*
*.txt
!.env.example
!.github/

.cmake/
.idea/
.venv/
.vscode/

# Environment files with secrets.
.env
.github/.env

*.json
*.log

# lvgl/ - removed to allow submodule
test-lvgl/_deps
build/
test-lvgl/build/
test-lvgl/wl_protocols/
yocto/rpi-build/
zephyrproject/modules/
*/build/*

# Yocto and Zephyr projects
yocto/
zephyrproject/
